/* Styling for the logo image */
#logo {
  width: 50px;  /* Sets the width of the logo */
  height: 50px; /* Sets the height of the logo */
}

/* Styling for elements with the 'heading' class */
.heading {
  text-align: center;            /* Centers the text horizontally */
  text-decoration: underline !important; /* Underlines the text, !important ensures it overrides other styles */
}

/* Styling for all anchor (link) elements */
a {
  font-weight: 600 !important; /* Sets the font-weight to bold, !important ensures it overrides other styles */
}

/* Styling for elements with the 'bold' class */
.bold {
  font-weight: 600 !important; /* Sets the font-weight to bold, !important ensures it overrides other styles */
}

/* Styling for the body of the HTML document */
body {
  background-color: #343a40 !important; /* Sets a dark background color, !important ensures it overrides other styles */
  color: #ffffff !important; /* Sets the text color to white, !important ensures it overrides other styles */
}

/* Styling for table header cells */
th {
  text-decoration: underline !important; /* Underlines the text in table headers, !important ensures it overrides other styles */
}
